.input_group {
    width: 500px;
    margin: 15px;
}

.input_group label{
    display: block;
    margin: 5px 0;
}

.text-input {
    height: 35px;
    padding: 0 4px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
}

.place-input {
    height: 35px;
    padding: 0 4px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 5ch;
    text-align: right;
}

.textarea-input {
    border-radius: 5px;
    width: 100%;
    min-height: 35px;
    padding: 4px;
    border: 1px solid grey;
}

.checkbox-label{
    display: inline-block !important;
}

.save_button {
    background-color: #2e7fff;
    color: white;
    display: block;
}

.move_button {
    margin-left: 5px;
    color: white;
    background-color: #2e7fff;
}

.delete_button {
    color: white;
    background-color: rgb(208, 21, 0);
}

.button_primary:disabled {
    cursor: not-allowed;
    color: #444;
    background-color: #aaa;
}

.button_primary:disabled:hover {
    box-shadow: none;
}

.add_button {
    background-color: blueviolet;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.set_inputs {
    display: inline-block;
    margin-bottom: 10px;
}

.left_input, .right_input, .mid_input {
    display: inline-block;
}
.left_input {
    margin: 0 10px;
}

.set-input {
    height: 35px;
    padding: 0 4px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
}