<!DOCTYPE html>
<html>
    <head>
        <title>Gymapp | made by Lares</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
      <div class="white">
        <h1>400 Bad Request | Huono kysely</h1>
        <p>The Server will not process your request due to client error. <br>
          Palvelin ei käsittele pyyntöäsi käyttäjän virheen takia.
        </p>
      </div>
    </body>
</html>