<!DOCTYPE html>
<html>
    <head>
        <title>Gymapp | made by Lares</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
      <div class="white">
        <h1>403 Access Denied | Pääsy estetty</h1>
        <p>The server understood your request, but is refusing to answer without authorization.
          <br>
          Palvelin ymmärsi kyselysi, mutta kieltäytyi vastaamasta ilman kunnollista autentikointia.
          <br>
          <a href="/" >Login | Kirjaudu sisään</a>
        </p>
      </div>
    </body>
</html>