<!DOCTYPE html>
<html>
    <head>
        <title>Gymapp | made by Lares</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div class="white">
            <h1>500 Internal Server Error | Palvelimella tapahtui virhe</h1>
            <p>The server encountered an unexpected condition and could not fulfill the request you have sent. <br>
                Palvelimella tapahtui olettamaton virhe jonka takia se ei voinut käsitellä pyyntöäsi.
            </p>
          </div>
    </body>
</html>