{% extends "logged_layout.html" %}
{% block content %}
<form action={{ url_for("edit_move", move_id=move["move_id"]) }} method="POST">
    <div class="input_group">
        <label for="name">
            Liikkeen nimi
        </label>
        <input id="name" name="name" type="text" value='{{ move["name"] }}' class="text-input" />
    </div>
    <div class="input_group">
        <label for="desc">
            Kuvaus
        </label>
        <textarea id="desc" name="desc" type="text" class="textarea-input">{{ move["description"] }}</textarea>
    </div>
    {% if admin %}
    <div class="input_group">
        <label for="public" class="checkbox-label">
            Julkinen
        </label>
        <input id="public" name="public" type="checkbox" {% if move["public"] %}checked{% endif  %} class="checkbox-input" />
    </div>
    {% endif %}
    <button type="submit" class="button_primary save_button">Tallenna</button>
</form>
<p class="success alert">{{ message }}</p>
{% endblock %}