{% extends "logged_layout.html" %}
{% block title %}LIIKKEET{% endblock %}
{% block content %}
    <table class="main_table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Julkinen</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves %}
                <tr>
                    <td>
                        <a href="{{ url_for('move', move_id=move[0]) }}">
                            {{ move[1] }}
                        </a>
                    </td>
                    <td>
                        {{ move[2] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}