{% extends "logged_layout.html" %}
{% block content %}
    <form action="/newmove" method="POST">
        <div class="input_group">
            <label for="name">
                Liikkeen nimi
            </label>
            <input id="name" name="name" type="text" class="text-input" />
        </div>
        <div class="input_group">
            <label for="desc">
                Kuvaus
            </label>
            <textarea id="desc" name="desc" type="text" class="textarea-input"></textarea>
        </div>
        <div class="input_group">
            <label for="public" class="checkbox-label">
                Julkinen
            </label>
            <input id="public" name="public" type="checkbox" class="checkbox-input" />
        </div>
        <input type="hidden" name="csrf" value="{{ session.csrf }}">
        <button type="submit" class="button_primary save_button">Tallenna</button>
    </form>
    <p class="success alert">{{ message }}</p>
{% endblock %}